{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{{ product.actif }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ product.title }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ product.categorie }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>TaxRules</th>
                <td>{{ product.taxRules }}</td>
            </tr>
            <tr>
                <th>ShoppedPrice</th>
                <td>{{ product.shoppedPrice }}</td>
            </tr>
            <tr>
                <th>Discount</th>
                <td>{{ product.discount }}</td>
            </tr>
            <tr>
                <th>DiscountPrice</th>
                <td>{{ product.discountPrice }}</td>
            </tr>
            <tr>
                <th>DiscountPercent</th>
                <td>{{ product.discountPercent }}</td>
            </tr>
            <tr>
                <th>DicsountFor</th>
                <td>{{ product.dicsountFor ? product.dicsountFor|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DicsountTo</th>
                <td>{{ product.dicsountTo ? product.dicsountTo|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ product.reference }}</td>
            </tr>
            <tr>
                <th>ReferenceShopper</th>
                <td>{{ product.referenceShopper }}</td>
            </tr>
            <tr>
                <th>Shopper</th>
                <td>{{ product.shopper }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ product.brand }}</td>
            </tr>
            <tr>
                <th>Ean13</th>
                <td>{{ product.ean13 }}</td>
            </tr>
            <tr>
                <th>Upc</th>
                <td>{{ product.upc }}</td>
            </tr>
            <tr>
                <th>EcoPart</th>
                <td>{{ product.ecoPart }}</td>
            </tr>
            <tr>
                <th>Width</th>
                <td>{{ product.width }}</td>
            </tr>
            <tr>
                <th>Height</th>
                <td>{{ product.height }}</td>
            </tr>
            <tr>
                <th>Depth</th>
                <td>{{ product.depth }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ product.weight }}</td>
            </tr>
            <tr>
                <th>DeliveryProduct</th>
                <td>{{ product.deliveryProduct }}</td>
            </tr>
            <tr>
                <th>DeliveryproductSoldOut</th>
                <td>{{ product.deliveryproductSoldOut }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ product.quantity }}</td>
            </tr>
            <tr>
                <th>MinimalQuantity</th>
                <td>{{ product.minimalQuantity }}</td>
            </tr>
            <tr>
                <th>LevelMinimalStock</th>
                <td>{{ product.levelMinimalStock }}</td>
            </tr>
            <tr>
                <th>LevelMinimalStockForMail</th>
                <td>{{ product.levelMinimalStockForMail }}</td>
            </tr>
            <tr>
                <th>Visibility</th>
                <td>{{ product.visibility }}</td>
            </tr>
            <tr>
                <th>ShippingPrice</th>
                <td>{{ product.shippingPrice }}</td>
            </tr>
            <tr>
                <th>Unity</th>
                <td>{{ product.unity }}</td>
            </tr>
            <tr>
                <th>UnityPrice</th>
                <td>{{ product.unityPrice }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ product.summary }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>KeyWord</th>
                <td>{{ product.keyWord }}</td>
            </tr>
            <tr>
                <th>TagTitle</th>
                <td>{{ product.tagTitle }}</td>
            </tr>
            <tr>
                <th>MetaKeyWord</th>
                <td>{{ product.metaKeyWord }}</td>
            </tr>
            <tr>
                <th>MetaDescription</th>
                <td>{{ product.metaDescription }}</td>
            </tr>
            <tr>
                <th>NewUrl</th>
                <td>{{ product.newUrl }}</td>
            </tr>
            <tr>
                <th>IfInStock</th>
                <td>{{ product.ifInStock }}</td>
            </tr>
            <tr>
                <th>IfPreOrder</th>
                <td>{{ product.ifPreOrder }}</td>
            </tr>
            <tr>
                <th>Commande</th>
                <td>{{ product.commande }}</td>
            </tr>
            <tr>
                <th>DisponibilityDate</th>
                <td>{{ product.disponibilityDate }}</td>
            </tr>
            <tr>
                <th>AddDate</th>
                <td>{{ product.addDate }}</td>
            </tr>
            <tr>
                <th>DisplayPrice</th>
                <td>{{ product.displayPrice }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ product.image }}</td>
            </tr>
            <tr>
                <th>ImageTexte</th>
                <td>{{ product.imageTexte }}</td>
            </tr>
            <tr>
                <th>DeleteExistingImage</th>
                <td>{{ product.deleteExistingImage }}</td>
            </tr>
            <tr>
                <th>Caracteristic</th>
                <td>{{ product.caracteristic }}</td>
            </tr>
            <tr>
                <th>OnlineOnly</th>
                <td>{{ product.onlineOnly }}</td>
            </tr>
            <tr>
                <th>ConditionProduct</th>
                <td>{{ product.conditionProduct }}</td>
            </tr>
            <tr>
                <th>Customisable</th>
                <td>{{ product.customisable }}</td>
            </tr>
            <tr>
                <th>Download</th>
                <td>{{ product.download }}</td>
            </tr>
            <tr>
                <th>TextArea</th>
                <td>{{ product.textArea }}</td>
            </tr>
            <tr>
                <th>DeadStock</th>
                <td>{{ product.deadStock }}</td>
            </tr>
            <tr>
                <th>Dematerialize</th>
                <td>{{ product.dematerialize }}</td>
            </tr>
            <tr>
                <th>FileUrl</th>
                <td>{{ product.fileUrl }}</td>
            </tr>
            <tr>
                <th>DownloadAutorize</th>
                <td>{{ product.downloadAutorize }}</td>
            </tr>
            <tr>
                <th>ExpirationDate</th>
                <td>{{ product.expirationDate }}</td>
            </tr>
            <tr>
                <th>DayNumber</th>
                <td>{{ product.dayNumber }}</td>
            </tr>
            <tr>
                <th>ShopName</th>
                <td>{{ product.shopName }}</td>
            </tr>
            <tr>
                <th>AvancedStock</th>
                <td>{{ product.avancedStock }}</td>
            </tr>
            <tr>
                <th>StockFunction</th>
                <td>{{ product.stockFunction }}</td>
            </tr>
            <tr>
                <th>StockPlace</th>
                <td>{{ product.stockPlace }}</td>
            </tr>
            <tr>
                <th>Accessories</th>
                <td>{{ product.accessories }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('product_index') }}">back to list</a>

    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
